
<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <title>GoP2P 免费加速视频流媒体，P2P CDN 加速视频流媒体</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <meta name="description" content="Setup your video on P2P network for free." />
  <meta name="keywords" content="p2p, globe, network, realtime, live, webrtc, content delivery network, content distribution network" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" />
  <link rel="shortcut icon" href="public/favicon.png">
  <link rel="stylesheet" href="public/css/globe.css?v={{ .version }}" />
  <style>
    .data-flow {
      color: #fff;
      border: 1px solid hsla(0, 0%, 100%, .4);
      margin-bottom: 8px;
      text-align: center;
      width: 350px;
      height:230px;
      padding-top: 10px;
    }
    .data-flow p{
      margin:0px;
    }
    .top-section .logo{
      width:170px;
      background: url(public/logo.png) no-repeat;
    }
  </style>
</head>
<body style="background: black;">
  <div class="container spread" style="display: none;">
    <div class="canvas-container spread"></div>
    <div class="top-section">
      <a class="logo" href="#">
        <div class="logo-desc hide">
          Live P2P Network
        </div>
      </a>
    </div>
    <div class="controls-area">
      <div class="data-flow"></div>
      <div class="data-live" style="display:block;width:350px;">
        <div class="data-live-count">-</div>
        <div class="data-live-text">
          实时在线
        </div>
      </div>
      <div class="controls">
        <div class="controls-slower" title="Reduce rotation speed">
          <i class="i-slower"></i>
        </div>
        <div class="controls-rotate active" title="Enable/disable rotation">
          <i class="i-rotate"></i>
        </div>
        <div class="controls-faster" title="Increase rotation speed">
          <i class="i-faster"></i>
        </div>
        <div class="controls-reset" title="Reset">
          <i class="i-reset"></i>
        </div>
        <div class="controls-info">
          <i class="i-info"></i>
        </div>
      </div>
      <div class="version">
        v0.4.14
      </div>
    </div>
    <div class="data-clock">
      <div class="data-clock-time">
        --:--:-- UTC
      </div>
    </div>
  </div>
  <div class="statistics">
    <li><span class="statistics-span">最新版本: </span><span id="beta">v{{ .version }}</span></li> 	
    <li><span class="statistics-span">系统时间: </span><span id="stat_runtime">-</span></li>
    <li><span class="statistics-span">系统负载: </span><span id="stat_sysload">-</span></li>
    <li><span class="statistics-span">CPU负载:  </span><span id="stat_cpuload">-</span></li>
    <li><span class="statistics-span">内存使用:  </span><span id="stat_memload">-</span></li>
    <li><span class="statistics-span">GoNum :   </span><span id="stat_goroutine_num">-</span></li>
    <li><span class="statistics-span">系统响应: </span><span id="stat_response">-</span> ms</li>
    <li><a href="https://github.com/midoks/go-p2p-server#%E6%8E%A5%E5%85%A5" target="_blank" style="color:red" id="redirect">-> 接入指南 <-</a></li>
  </div>
  <div class="initial-loader spread hide">
    <img class="image-wrapper" />
    <div class="image-wrapper"></div>
    <div class="spinner">
      <div class="rect1"></div>
      <div class="rect2"></div>
      <div class="rect3"></div>
      <div class="rect4"></div>
      <div class="rect5"></div>
    </div>
  </div>
  <script>
    var statws = [];
    var concurrent = 0;
    var randkey;
    var klinktester_start = null;
    var klinktester_end = null;
    var klinktester = null;
    var klinkOnly = true;
    var mul = 10;
    var wsAddr = "";
    if (location.protocol == "https:"){
       wsAddr = "wss://"+location.host+"/ws?id=p2ptester";
    } else {
      wsAddr = "ws://"+location.host+"/ws?id=p2ptester";
    }
    console.log(wsAddr);
  </script>&quot;
  <script src="public/js/globe.js?v={{ .version }}"></script>&quot;
  <script src="public/js/jquery.js?v={{ .version }}"></script>&quot;
  <script>
    function updateData() {
      if(klinktester_end-klinktester_start>30000 && typeof(klinktester)=="function"){
        klinktester();
      }

      var statsAddr = "";
      if (location.protocol == "https:"){
         statsAddr = "https://"+location.host+"/getStats";
      } else {
        statsAddr = "http://"+location.host+"/getStats";
      }
      $.ajax({
        url: statsAddr,
        dataType: 'json',
        timeout: 3000,
        success: function (data) {
          $('#stat_sysload').html(Math.round(data.load_avg_per) + ' %');
          $('#stat_cpuload').html(Math.round(data.cpu_per) + ' %');
          $('#stat_memload').html(Math.round(data.mem_per) + ' %');
          $('#stat_goroutine_num').html(data.goroutine_num);
          $('#stat_runtime').html(data.server_runtime);

          concurrent=data.peers;
          $('.data-live .data-live-count').html(data.peers);
        },
        complete: function () {
          setTimeout(function () {
            updateData()
          }, 1500);
        }
      });
    };
    updateData();

    //暂时不闪烁
    // setInterval(function(){
    //     $('#redirect').css('color',$('#redirect').css('color')=='rgb(255, 255, 255)' ? "red" : "white")
    // },300)
  </script>
</body>

</html>